* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #10194b;
    background-color: white;
}


header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #4542a5;
}

nav {
    display: flex;
    gap: 35px;
}

nav a,
.account a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.account {
    display: flex;
    align-items: center;
    gap: 25px;
}

.account button {
    padding: 12px 25px;
    border: 1px solid #7775d0;
    border-radius: 7px;
    background: white;
    color: #5552b8;
}



.hero {
    min-height: 560px;
    display: flex;
    align-items: center;
    padding-left: 8%;
    background: #f8f8fc;
}

.hero-text {
    width: 55%;
}

.hero-text h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-text h1 span {
    color: #f5a623;
}

.hero-text p {
    width: 80%;
    color: #999;
    line-height: 1.7;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.start {
    background: #f5a623;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}

.demo {
    border: none;
    background: transparent;
    color: #4d4aaa;
    font-weight: bold;
}

.hero-image {
    width: 45%;
    height: 560px;
    background: #4d49aa;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-image img {
    width: 80%;
    max-height: 520px;
    object-fit: contain;
}


.category {
    padding: 70px 8%;
}

.category h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.category h2 span {
    color: #4d49aa;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    width: 25%;
    height: 170px;
    background: #f7f7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.card.active {
    background: #4d49aa;
    color: white;
    box-shadow: 0 15px 30px #ddd;
}

.icon {
    font-size: 35px;
    margin-bottom: 20px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
}


.why {
    display: flex;
    align-items: center;
    padding: 50px 8%;
    gap: 70px;
}

.why-image {
    width: 45%;
    text-align: center;
}

.why-image img {
    width: 80%;
    max-width: 400px;
}

.why-text {
    width: 55%;
}

.why-text h2 {
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.why-text h2 span {
    color: #f5a623;
}

.feature {
    margin-bottom: 25px;
}

.feature h3 {
    color: #4542a5;
    margin-bottom: 8px;
}

.feature p {
    color: #999;
    line-height: 1.5;
}



@media (max-width: 768px) {

    header {
        padding: 20px;
        height: auto;
        flex-wrap: wrap;
        gap: 20px;
    }

    nav {
        display: none;
    }

    .hero {
        padding: 40px 20px;
        flex-direction: column;
    }

    .hero-text,
    .hero-image {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 35px;
    }

    .hero-image {
        margin-top: 30px;
    }

    .cards {
        flex-wrap: wrap;
    }

    .card {
        width: 47%;
    }

    .why {
        flex-direction: column;
        padding: 40px 20px;
    }

    .why-image,
    .why-text {
        width: 100%;
    }
}